.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
  height: 200px;
  width: 100vw;
}

@media only screen and (min-width: 1023px) {
  .slide.active {
    height: 360px;
  }
}
